{% extends "layout.html" %}
{% block content %}
    <form role="form" action="" method=post class="form-horizontal">
    <div class="control-group">
        <div class="controls">
          <input type="password" id="oldpassword" name="oldpassword" class="input-xlarge"
            placeholder="Enter Your Password" value="{{ request.form.oldpassword }}"
            required>{{ error1 }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <input type="password" id="newpassword" name="newpassword" class="input-xlarge"
            placeholder="Enter New Password" value="{{ request.form.newpassword }}"
            required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <input type="password" id="newpassword2" name="newpassword2" class="input-xlarge"
            placeholder="Enter New Password Again" value="{{ request.form.newpassword2 }}"
            required>{{ error2 }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Change</button>
        </div>
    </div>
    </form>
{% endblock %}
