{% extends "layout.html" %}
{% block title %}Product List{% endblock %}
{% block content %}
      <div class="page-header">
        <h1 style = "padding:1%">{{ current_user.nickname }}'s Products</h1>
      </div>
      {% if products %}
      <ul class="list-unstyled">
        {% for product in products %}
        <li>
           <div class="list-group-item"> <a href={{ url_for('product_page', product_id = product[0]) }}>{{ product[1] }}</a>  ---  <a href="{{ url_for('update_product', product_id = product[0]) }}">Update</a>  /  <a href="{{ url_for('delete_product', product_id = product[0]) }}" onclick="myFunction()">Delete </a></div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
{% endblock %}
<script>
function myFunction() {
    confirm("Are you sure about deleting your product?");
}</script>