<script>
    document.getElementById("demo").innerHTML= "hello";
    var x = document.createElement("VAR");
    x=error;
</script>

{% extends "layout.html" %}
{% block content %}
  <form role="form" action="" method=post class="form-horizontal">
    <h2>Welcome to Kermes!</h2>
     <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="Enter Name" value="{{ request.form.name }}"
            required>
        </div>
    </div>
     <div class="control-group">
        <div class="controls">
          <input type="text" id="surname" name="surname" class="input-xlarge"
            placeholder="Enter Surname" value="{{ request.form.surname }}"
            required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="nickname" name="nickname" class="input-xlarge"
            placeholder="Enter Nickname" value="{{ request.form.nickname }}"
            required>{{ error }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="text" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.email }}"
            required>
        </div>
    </div>

      <div class="control-group">
        <div class="controls">
          <input type="text" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}
